body {font-family: 'Rubik Mono One', sans-serif !important;}

#firstparagraph {
   color: black;
   font-size: 18px;
   padding-left: 10px;
}

#secondparagraph {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 60px !important;
	padding-top: 20px;
	padding-bottom: 10px;
}

#thirdparagraph {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 15px !important;
	padding-top: 25px;
}

#fourthparagraph {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 15px !important;
	padding-top: 40px;
}

.bg-image {
	background-image: url(../images/sfondo.jpg);
	background-position: no-repeat;
}

#secondcontainer {padding-top: 50px;}

h1 {
	padding-top: 6%;
	padding-bottom: 4%;
	padding-left: 10px;
	color: #C50025 !important;
	font-size: 90px !important;
}

#music {
	padding-top: 8%;
	color: #C50025 !important;
	font-size: 90px !important;
}


#logo {width: 4em;}

.nav-link {
	color: #C50025 !important;
    font-size: 25px;
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
}

.nav-link:hover {opacity: 1.0;}

.navbar {background-color: black;}

.active {
     color: #C50025 !important;
     opacity: 1.0;
} 

li.active a {color:#C50025 !important;}

#band1 {
  height: 20%;
  width: auto;
  max-width: 70%;
  min-height:10%;

}

#divbg {background-color: black !important; padding-bottom: 1em;}
#divbg2 {background-color: black !important;}

.container {
	padding-top: 30px;
    padding-bottom: 30px;
}

#secondimg {
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

#sempiternal {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 30px !important;
	padding-top: 30px;
}

#sempiternal1 {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 15px !important;
	padding-top: 20px;
}

#spirit {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 30px !important;
	padding-top: 50px;
}

#amo {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 30px !important;
	padding-top: 15px;
}

#posth {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 30px !important;
	padding-top: 70px;
}

#tourdates {
	color: #C50025 !important;
	text-align: center !important;
	font-size: 20px !important;
	padding-top: 10px !important;
	line-height: 5px !important;
}

.btn {
	color: black !important;
	background-color: #C50025 !important;
	text-align: center !important;
	font-size: 20px !important;
	padding-top: 20px; 
	padding-bottom: 20px;
}

.btn:hover {
	color: #C50025 !important;
	background-color: black !important;
}

.fa {
  padding: 20px;
  width: 50px;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  color: white;
  text-decoration: none;
}

.fa-instagram {
  color: #C50025;
 }

 .fa-twitter {
  color: #C50025;
}

.footer {
		font-family: Arial,sans-serif;
		font-size: 12px;	
		text-align: center;
		font-weight: bold;
		color: #C50025;
		padding-bottom: 1em;
		padding-top: 2em;
}
